environment_variables.mk
.vagrant.d/
.vagrant/
vanilla_vm/.config
vanilla_vm/proc_cmdline.txt
custom_vm/Vagrantfile
linux/build/
linux/install/
qemu/build/
qemu/install/
flag
*.buildinfo
*.changes
*.deb

