Vagrant.configure("2") do |config|
  # provider-specific options
  config.vm.provider :libvirt do |libvirt|
    libvirt.emulator_path =
    libvirt.kernel =
    libvirt.initrd =
    libvirt.cmd_line = "root=ROOT_DEVICE"
  end
end

